---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/React.astro';
import '@/styles/globals.css'
---

<Layout>
	<div class="flex items-center justify-center min-h-screen">
    <Calculator />
  </div>
</Layout>
